*
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}
#stars {
    display: none;
    z-index: -1;
}



body {
    background: black;
    color: #ccc;
    /* too much for CPU! */
    transition: background 300ms;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#options {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

#options p {
    margin: 10px;
}

#options select {
    float: right;
    width: 250px;
    text-transform: capitalize;
}

#options label {
    margin-right: 20px;
}

#credit {
    position: absolute;
    left: 20px;
    top: 20px;
}


header {
    margin-bottom: 30px;
    //background: rgba(0,0,0,0.5);
    height: 85px;
}

#title {
    text-align: center;
    margin-top: 15px;
    z-index: 3;
}

#title a {
}

a {
    color: #ccc;
    transition-property: color;
    transition-duration: .2s;
}

a:hover {
    color: #683996;
}

#title a:hover {
    border-bottom-color: #683996;
}

::selection { background: transparent; } 
::-moz-selection { background: transparent; }


table {
    position: absolute;
    top: 0;
    z-index: 1;
}

#audio {
    display: table;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}


